;----------------------------- OPENWEATHERMAP CONFIGURATION ----------------------------------------
[MAIN]
setUnits=metric
;or imperial
apikey=7f9d6b97b0c40c8801cf4ede45866041
town=paris,FR
;Get your KEY : https://home.openweathermap.org
;----------------------------------- END --------------------------------------------------


